@use "@/styles/color" as *;
@use "@/styles/media" as *;
@use "@/styles/fonts" as *;

.root {
  display: flex;
  width: 570px;
  height: 673px;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: $beige200-color;
  border-radius: 50px;

  @include tablet {
    width: 49%;
    height: 841px;
  }
  @include small_tablet {
    height: 580px;
    padding: 25px;
  }
  @include mobile {
    width: 318px;
    height: auto;
    padding: 21px 21px 20px 20px;
  }
}

.review {
  font-family: Roboto_Bold;
  font-size: 23px;
  line-height: 122%;
  color: $black-color;

  @include small_tablet {
    font-size: 16px;
  }
  @include mobile {
    line-height: 143%;
  }
}

.review_author {
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  @include mobile {
    height: 80px;
    margin-top: 35px;
  }
}

.info_author {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

.name_author {
  font-family: Roboto_Medium;
  font-size: 35px;
  line-height: 122%;
  color: $black-color;
  @include small_tablet {
    font-size: 23px;
    line-height: 120%;
  }
  @include mobile {
    font-family: Roboto_Bold;
    letter-spacing: 0.04em;
  }
}

.name_tour {
  margin-top: 8px;
  font-family: Roboto_Regular;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: $grey-color;
  @include small_tablet {
    font-size: 14px;
  }
  @include mobile {
    margin-top: 8px;
    font-size: 16px;
  }
}

.img_author {
  border-radius: 100px;
}
