@use "@/styles/color" as *;
@use "@/styles/media" as *;
@use "@/styles/fonts" as *;

.root {
  display: flex;
  width: 500px;
  height: 124px;
  flex-direction: column;
  align-items: flex-start;
  font-family: Roboto_Regular;
  font-size: 20px;
  line-height: 142%;
  color: $black-color;
  @include tablet {
    width: 48.8%;
  }
  @include mobile {
    width: 278px;
    height: 74px;
    font-size: 16px;
  }
}

.dropdown {
  display: flex;
  width: 100%;
  height: 68px;
  padding: 20px;
  margin-top: 8px;
  font-size: 20px;
  background-color: $beige100-color;
  background-image: url("../../../../public/image/svg/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: calc(100% - 24px);
  background-position-y: calc(100% - 27px);
  border: 1px solid $beige200-color;
  border-radius: 10px;
  outline: 0;
  appearance: none;
  color: $black-color;
  @include small_tablet {
    font-size: 18px;
  }
  @include mobile {
    height: 43px;
    padding: 10px;
    font-size: 16px;
    background-position-x: calc(100% - 14px);
    background-position-y: calc(100% - 13px);
  }
  &:invalid {
    color: $grey-color;
  }

  &:hover {
    background-color: $beige200-color;
    cursor: pointer;
  }
  &:focus {
    border: 1px solid $grey-color;
  }
}
