@font-face {
  font-family: "Roboto_Regular";
  src: url(../../public/fonts/Roboto-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto_Bold";
  src: url(../../public/fonts/Roboto-Bold.woff2);
  font-style: normal;
  font-weight: 700;
}
