@use "@/styles/color" as *;
@use "@/styles/fonts" as *;

.root {
  display: flex;
  width: 1920px;
  height: 88px;
  margin-top: 134px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $beige200-color;
}
.footer_window {
  display: flex;
  width: 1168px;
  height: 28px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer_name {
  width: 222px;
  height: 28px;
  font-family: Roboto_Regular;
  font-size: 20px;
  line-height: 142%;
  color: $grey-color;
}
.social_networks {
  display: flex;
  width: 419px;
  height: 28px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.network_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.network_icon {
  margin-bottom: 3px;
}
.network_title {
  margin-left: 10px;
  font-family: Roboto_Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: $black-color;
}
