@use "@/styles/color" as *;
@use "@/styles/media" as *;
@use "@/styles/fonts" as *;

.block_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_block {
  width: 730px;
  @include small_tablet {
    width: 100%;
  }
  @include mobile {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}
.description_block {
  width: 418px;
  height: 56px;
  margin-top: 30px;
  font-family: Roboto_Regular;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: $grey-color;
  @include mobile {
    width: 100%;
    height: 46px;
    margin-top: 20px;
    font-size: 16px;
  }
}
