@use "@/styles/color" as *;
@use "@/styles/media" as *;

.root {
  display: flex;
  height: 28px;
  flex-direction: row;
  align-items: center;
  @include mobile {
    height: auto;
  }
}

.label_button {
  position: relative;
  display: flex;
  width: 26px;
  height: 26px;
  margin-right: 11px;
  color: $black-color;
  @include mobile {
    margin-right: 4px;
  }
  &:hover {
    cursor: pointer;
  }
}
.radio_button {
  display: none;
}
.radio_button + label::before {
  display: inline-block;
  content: "";
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  background-image: url("../../../../public/image/svg/Ellipse_radio.svg");
  @include mobile {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 21px;

    background-image: url("../../../../public/image/svg//Ellipse_radio_mobile.svg");
  }
}
.radio_button:checked + label::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  background-image: url("../../../../public/image/svg/radiobutton.svg");
  @include mobile {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    background-image: url("../../../../public/image/svg/radiobutton_mobile.svg");
  }
}

.checkbox_button {
  display: none;
}

.checkbox_button + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox_button + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $black-color;
  border-radius: 0.25em;
  margin-right: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  @include mobile {
    width: 16px;
    height: 16px;
    margin-bottom: 62px;
  }
}

.checkbox_button:checked + label::before {
  border-color: $black-color;
  background-color: $white-color;
  background-image: url("../../../../public/image/svg/check_dogovor.svg");
  background-size: 70%;
  background-position: center;
  @include mobile {
    background-image: url("../../../../public/image/svg/check_dogovor_mobile.svg");
  }
}
