@use "@/styles/color" as *;
@use "@/styles/fonts" as *;

.root {
  display: flex;
  width: 100%;
  height: 2060px;
  margin-top: 135px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.historyTravel_window {
  display: flex;
  width: 1170px;
  height: 2060px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_cards {
  display: flex;
  width: 100%;
  height: 1801px;
  margin-top: 100px;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
