@use "@/styles/color" as *;
@use "@/styles/media" as *;
@use "@/styles/fonts" as *;

.root {
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.fixed_nav {
  position: fixed;
  display: flex;

  justify-content: center;
  align-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(54px);
  background-position: top;
  z-index: 4;
}
.nav {
  display: flex;
  width: 1168px;
  height: 30px;
  font-family: Roboto_Regular;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}

.nav_items {
  display: flex;
  width: 468px;
  justify-content: space-between;
}

.nav_item,
.phone_number {
  color: $white-color;
}
.nav_item_fix,
.phone_number_fix {
  color: $black-color;
}
